html,body{
  font-family: Arial;
}

.card:hover{
  opacity: 0.9;
  transform:scale(1.03);
}

.card {
  transition: transform 1s;
  .author{
    height: 50px;
    overflow: auto;
  }
  .card-body{
    padding-top: 0px;
    .thumb-size{
      font-size:24px;
    }
  }
  .card-flow{
    height: 200px;
  }
  .card-header{
    padding-bottom: 0px;
  }
  .flexx{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 1.25rem !important;
  }
  .img-ht{
    box-sizing: border-box;
    height: 380px;
  }
}
