<nav class="navbar sticky-top bg-dark navbar-dark justify-content-between">
  <a class="navbar-brand p-0 m-0"><h3 class="p-0 m-0">Todo List</h3></a>
  <form action="/todo" method="GET" class="form-inline">
    <input class="form-control form-control-sm mr-sm-2" type="text" name="name" title="It should be a name." placeholder="Search todo by name." required>
    <button class="btn btn-sm btn-outline-light my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>