body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

nav{
	position: fixed;
	top:0;
	background-color: #282828;
	padding: 5px;
	width: 100%;


}
.nav-ul{
	list-style-type: none;
	margin: 0;
	padding: 0;

}
.nav-li{
	display: inline-block;
}

.nav-li a{
	text-decoration: none;
	color: #FFFFFF;
	text-align: center;
	padding: 10px 20px;
}

.flex-container-col{
	display: flex;
	flex-direction: column;
}

.flex-container-row{
	display: flex;
	flex-direction: row;
}



.flex-item{
	margin: 0px;
	padding: 30px 30px 15px 30px;
	text-align: center;

}

.item-1{
	background-image: url(../assets/guitar.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.item-1-text{
	position: absolute;
	top: 50%;
	left: 50%;
	color: #FFFFFF;
	transform: translate(-50%,-50%);
	text-align: center;
	line-height: 1.5;
	width: 85%;
}

.item-2-text,.footer{
	line-height: 1.5;
	width: 84%;
	margin: 0 8% 0 8%;

}
.item-2-button-red{
	border: none;
	padding: 15px;
	background-color: #B00000;
	color: #FFFFFF;
	line-height: 1.8;
	margin: 20px;
}
.item-2-button-blue{
	border:none;
	padding: 15px;
	background-color: #003366;
	color: #FFFFFF;
	line-height: 1.8;
}

.item-2-img{
	width: 80%;
}

.text-big{
	font-size: 50px;
	margin: 15px;
}

.text-medium{
	font-size: 20px;
	margin: 15px;
}

.text-small{
	font-size: 15px;
	margin: 15px;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	opacity: 0.8;
}

.text-semi-medium{
	font-size: 30px;
	margin: 15px;
}

.font-music{
	font-size: 30px;
	color: #FFFFFF;
	display: inline;
}

.black{
	background-color: #282828;
	color: #FFFFFF;
}

.center{
	text-align: center;
}

.item-3{
	background-image: url(../assets/night1.jpg);
	height: 60%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.item-3-text{
	position: relative;
	top: 50%;
	left: 50%;
	color: #FFFFFF;
	transform: translate(-50%,-50%);
	text-align: center;
	line-height: 1.5;
	width: 85%;
}
.card-img{

  width: 100%;
  max-width: 400px;
  max-height: 310px;
  padding-left: 10%;
}
.card-text{
	width: 55%;
	padding-right: 10%;
	padding-top: 1%;
	margin-top: 2%;
	margin-bottom: 2%;

}
.card-text > hr{
	width: 96%;
	text-align: left;
	margin-inline-start:13px;
}

.footer-list-heading{
	font-size: 20px;
	color: #D3D3D3;
}

.footer-list{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color: #D3D3D3;
}

.footer hr{
	border: none;
	height: 1px;
	background-color: #D3D3D3;
}

.footer-item{
	width: 25%;
	margin: 10px;
	padding: 10px;
}

.copyright{
	background-color: #383838;
	color: #FFFFFF;
	padding: 20px;
	text-align: center;
}


@media only screen and (max-width: 600px){
	nav{
		position: sticky;
		width: auto;
	}
	.nav-li{
		display: block;
		text-align: center;
	}

}

@media only screen and (max-width: 800px){

	.flex-container-row{
		display: flex;
		flex-direction: column;
    flex-wrap: wrap;

	}
	.card-img{

		padding: 10%;


    width: 100%;
    max-width: 80vw;
    max-height: auto;

	}
	.card-text{
		width: 90%;
		padding: 5%;
		text-align: center;

	}
  .footer-item{
		width: 90%;

		text-align: center;
	}
}
