html, body {
  font-family: Arial;
  margin: 10px;
}

table {
  table-layout: fixed;
}

table .table-cap {
	caption-side: top;
	font-size: 18px;
	text-align: center;
}

table .table-cap .left {
	float:  left;
}

table .table-cap .right {
	float: right;
}

table .btn-custom {
	background-color: #D3D3D3;
	width: 40px;
}

table .btn-custom:hover {
	background-color: #007bff;
	color: #ffffff;
}

#show,#calendar{
	display: none;
}

@media only screen and (max-width: 575px) {
	table .btn-custom {
	width: 35px;
	}
}
