$main-color:#282828;
$white:#ffffff;
$black:#000000;
$text-width: 84%;

*{
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.row{
  clear: both;
}

$c: ("1":8.33%,"2":16.66%,"3":25%,"4":33.33%,"5":41.66%,"6":50%,"7":58.33%,"8":66.66%,"9":75%,"10":83.33%,"11":91.66%,"12":100%);
@each $name, $val in $c{
  .col-#{$name}{
    width: $val;
  }
}

.col-20{
  width: 20.83%;
}

[class*="col-"]{
  float: left;
  padding: 15px;
}

$sizes: 50px,30px,20px,15px;
@each $size in $sizes{
  .font-#{$size}{
    font-size: $size;
    margin: 15px;
  }
}

@mixin bg($bg-color:true){
  @if $bg-color{
    background-color: $main-color;
    color: $white;
  }@else{
    background-color: $white;
    color: $black;
  }
}

nav{
	position: fixed;
	top:0;
	background-color: #282828;
	padding: 5px;
	width: 100%;

  ul{
  	list-style-type: none;
  	margin: 0;
  	padding: 0;

    li{
    	display: inline-block;

      a{
      	text-decoration: none;
      	color: white;
      	text-align: center;
      	padding: 10px 20px;
      }
    }
  }
}

header{
  background-image: url(../assets/guitar.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 1.5;
    color: $white;
    width: $text-width;
  }
}

main{
  text-align: center;
  .black{
    @include bg($bg-color:true);
  }
  .font-music{
    font-size: 30px;
    color: white;
  }
  .text{
    text-align: center;
    line-height: 1.5;
    width: $text-width;
    margin-left: 8%;
    margin-right: 8%;
  }
  .img{
    width: 85%;
  }
  .btn{
    border: none;
    padding: 15px;
    color: white;
    line-height: 1.8;
  }
  .btn-red{
  	background-color: #B00000;
  	margin: 20px;
  }
  .btn-blue{
  	background-color: #003366;
  }
}

section{
  &.night{
    clear: both;
    background-image: url(../assets/night1.jpg);
  	height: 60%;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

    .night-text{
      position: relative;
    	top: 50%;
    	left: 50%;
    	color: white;
    	transform: translate(-50%,-50%);
    	text-align: center;
    	line-height: 1.5;
    	width: 85%;
    }
  }
}

section{
  &.gift{
    clear: both;
    .gift-card{
      width: 100%;
      max-width: 600px;
      max-height: 330px;
      padding-left: 20%;
    }
    .gift-text{
    	width: 100%;
    	padding-right: 10%;
    	padding-top: 1%;
    	margin-top: 2%;
    	margin-bottom: 2%;
    }
    hr{
      width: 90%;
      margin-inline-start:14px;
    }
  }
}

footer{
  div{
    color: #D3D3D3;
    height: 220px;
    background-color: $main-color;
    overflow: auto;
    p{
      font-size: 20px;
    }
    ul{
      list-style-type: none;
    	margin: 0px;
    	padding: 10px;
    	font-size: 14px;
    }
  }
}

.copyright{
  background-color: #383838;
	color: $white;
	padding: 20px;
	text-align: center;
}

a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  opacity: 0.8;
}


@media only screen and (max-width:600px){
  [class*="col-"]{
    width: 100%;
  }
  nav{
  	position: sticky;
  	top:0;
    ul{
      text-align: center;
      li{
      	display: block;
      }
    }
  }
  section{
    &.gift{
      text-align: center;
      .gift-card{
        padding: 0px;
        width: 90%;
        height: auto;
      }
      .gift-text{
      }
      hr{
        width: 90%;
        margin-inline-start:14px;
      }
    }
  }
  footer{
    text-align: center;
    [class*="col-20"]{
      width: 100%;
    }

    [class*="col-1"]{
      width: 0;
      padding: 0;
    }
    div{
      margin-bottom: -1px;
      overflow: hidden;
    }
  }
}


@media only screen and (max-width:800px){
  section{
    &.gift{
      text-align: center;
      [class*="col-"]{
        width: 100%;
      }
      text-align: center;
      .gift-card{
        padding: 0px;
        width: 80%;
        max-width: 500px;
        height: auto;
      }
      .gift-text{
        padding: 0;
      }
      hr{
        width: 90%;
        margin-inline-start:14px;
      }
    }
  }
  footer{
    [class*="col-20"]{
      width: 50%;
    }
    [class*="col-1"]{
      width: 0;
      padding: 0;
    }
    div{
      margin-bottom: -1px;
      overflow: hidden;
    }
  }
}
